<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- DB 커넥션 풀을 사용하기 위한 리스너! -->
	<listener>
		<listener-class>JDBC.JDBC</listener-class>
	</listener>
	<!-- 어플리케이션 컨텍스트에서 사용할 value -->
	<context-param>
		<param-name>poolConfigFile</param-name>
		<param-value>/WEB-INF/config/DB.properties</param-value>
	</context-param>
	<!-- Character Encoding -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>Filter.CharacterEncoding</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 로그인 필터  -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>Filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/user/update</url-pattern>
		<url-pattern>/user/delete</url-pattern>
		<url-pattern>/user/confirmUserByPassword</url-pattern>
		<url-pattern>/user/changePassword</url-pattern>
		
		<url-pattern>/post/write</url-pattern>
		<url-pattern>/post/updatePost</url-pattern>
		<url-pattern>/post/deletePost</url-pattern>
	</filter-mapping>
	
	<!-- 컨트롤러 서블릿 -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>Controller.CommandController</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/config/commandHandler.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/user/register</url-pattern>
		<url-pattern>/user/login</url-pattern>
		<url-pattern>/user/logout</url-pattern>
		<url-pattern>/user/findLoginId</url-pattern>
		<url-pattern>/user/findPassword</url-pattern>
		<url-pattern>/user/update</url-pattern>
		<url-pattern>/user/delete</url-pattern>
		<url-pattern>/user/confirmUserByPassword</url-pattern>
		<url-pattern>/user/changePassword</url-pattern>
		
		<url-pattern>/post/write</url-pattern>
		<url-pattern>/post/view</url-pattern>
		<url-pattern>/post/update</url-pattern>
		<url-pattern>/post/delete</url-pattern>
		<url-pattern>/post/list</url-pattern>
		
		<url-pattern>/admin/userManagement</url-pattern>
		<url-pattern>/admin/postManagement</url-pattern>
	</servlet-mapping>
</web-app>