a,a:hover {
	text-decoration: none;
}	
.coment-textarea {
	width: 720px;
	outline: none;
}
.coment-container {
	position: absolute;
	width: 800px;
}
.submit {
	height: 81px;
    position: relative;
    top: -35px;
    left: -1px;
}
.view-coment-container {
	padding: 10px 0px;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	overflow: hidden;
}
.inline {
	display: inline-block;
}
.coment-control-div {
	float: right;
}
.coment-control-div > a {
	color: gray;
	font-size: 15px;
}
.id {
	font-weight: bold;
}
.coment {
	font-size: 15px;
	word-break: break-all;
}
