.custom-header-container {
	height: 100px;
	display: flex;
	border-bottom: 1px solid #cccccc;
}
.header-image {
	margin-left: 50px;
}
.search-real-form {
    background-color: #1a73e8;
    margin-top: 26px;
    margin-left: 380px;
}
.search-real-input {
	width: 800px; 
    outline: none;
}
.search-in-div {
	padding: 2px;
	display: flex;
}
.search-submit {
	width: 36px;
	height: 36px;
	border: 1px solid #1a73e8;
	background-color: #1a73e8;
	background-image: url("/mutube/Image/magnifier.png");
	background-repeat: no-repeat;
	background-position-x: 2px;
    background-position-y: 2px;
    cursor: pointer;
}