body,p {
    margin: 0px;
}
header {
    padding: 33px 0px;
    border-bottom: 1px solid #dddddd;
    display: flex;
}
.search-container {
    width: 846px;
    margin-left: 460px;
}
.search {
    outline: none;
    width: 800px;
    height: 41px;
    font-size: 18px;
    margin-top: 0px;
}
.search-button {
    margin-left: -7px;
   	position: relative;
    height: 43px;
    bottom: -0.6px;
}
.logo {
	position: relative;
    top: -28px;
    margin-left: 42px;
}