body {
    background-color: #eeeeee;
}
.loginForm-container {
    margin-left: 780px;
    margin-top: 320px;
}
.signin {
    margin-bottom: 30px;
}
.loginForm-container p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4px;
}
.loginForm-container input {
    width: 300px;
    height: 30px;
}
.register {
    font-size: 13px;
    text-decoration: none;
    color: black;
}
.loginForm-container .submit {
    margin-top: 6px;
}
.error {
    font-size: 12px;
    color: red;
}
.submit {
    height: 40px !important;
}
