/* 초기화 */
body,p {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
ul,li {
    list-style: none;
    padding: 0px;
}
.wrapper {
    width: 1650px;
    margin: auto;
}
/* 초기화 끝 */
/* 헤더 */
header {
    padding-top: 30px;
}
.search-container {
    margin-left: 500px;
}
.search {
    width: 800px;
    height: 35px;
    font-size: 18px;
}
.search-button {
    margin-left: -7px;
    height: 40.9px;
}
/* 헤더 끝 */
/* nav */
.middle {
    display: flex;
}
.nav {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 50px;
    height: 100%;
}
.user-container {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.login {
    padding: 12px 100px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
}
.information {
    margin-left: 8px;
}
.sub-font {
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
}
.information > .sub-font, .sub-font > a {
    color: gray;
}
.genre-ul {
    margin: 0px;
    padding: 16px 0px;
    padding-left: 20px;
}
.genre-li {
    padding: 5px;
}
.genre-li > span:nth-child(2n) {
    cursor: pointer;
}
.genre:hover {
    color: red;
}
.dropdown {
    padding-left: 20px;
}
#hidden1,#hidden2,#hidden3 {
    display: none;
}
#view1,#view2,#view3 {
    display: block;
    cursor: pointer;
}
#view1 li, #view2 li, #view3 li {
    padding: 3px;
}
#view1 a:hover, #view2 a:hover, #view3 a:hover {
    color: red;
}
/* nav end */
/* board */
.board {
    width: 1300px;
    height: 553px;
    border: 1px solid #dddddd;
    margin-top: 50px;
    margin-left: 76px;
}
/* board end */
/* footer */
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #212121;
    color: white;
}
.footer-container {
    padding: 30px 120px;
}
.footer-text {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4px;
}
/* footer end */
/* login */
.welcome {
    display: inline-block;
    font-size: 17px;
}
.myPage {
    padding-top: 7px;
    float: right;
    color: gray;
    font-size: 14px;
    height: 23px;
}
.login-container {
    margin: 12px 0px; 
}
.name {
    color: blue;
}
/* login end */