.center {
	display: flex;
}
.flex {
	display: flex;
}
.mypage-container {
	margin: 245px 518px;
}
.mypage {
	height: 100%;
}
.mypage-user:LAST-CHILD {
	margin-bottom: 0px;
}
.font30 {
	font-size: 30px;
}
.outline {
	border: none;
	outline: none;
}
.mypage-button {
	font-size: 15px;
	width: 112px;
	height: 42px;
	position: relative;
	top: 12px;
}

.mypage-container {
    width: 410px;
    height: 315px;
    padding: 30px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 3px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
}
.input-container {
    margin-bottom: 10px;
    height: 80px;
}
.mypage p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4px;
}
.mypage input:last-child {
    height: 40px;
}
.button-container {
	margin-left: 60px;
}
.submit {
    margin-top: 6px;
    font-size: 16px;
    border-color: #1a73e8;
    border-radius: 7px;
    background-color: #1a73e8;
    color: white;
    height: 42px;
    cursor: pointer;
}