body,p {
    margin: 0px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
}
.nav {
    display: inline-block;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 866px;
}
.drop-ul {
    font-size: 18px;
}
.user-container {
    padding: 20px 12px;
    border-bottom: 1px solid #dddddd;
}
.login {
    width: 50px;
    padding: 12px 100px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
}
.information {
    margin-left: 8px;
}
.sub-font {
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
}
.information > .sub-font, .sub-font > a {
    color: gray;
}
.drop-li {
    border-bottom: 1px solid #dddddd;
    display: flex;
}
.drop-li:last-child {
    border: none;
}
.droplist {
    display: block;
    padding: 10px 0px 10px 20px;
    cursor: pointer;
}
.title {
    padding-left: 60px;
}
.title:hover {
    color: red;
}
.clicked {
    width: 10px;
    height: 44px;
    background-color: white;
}
.list-container {
    width: 263px;
}
#hidden1 {
    display: none;
}
#red {
    color: red;
}