.center {
	display: flex;
}
.list-line {
	height: 1px;
	background-color: #dddddd;
	margin: 30px 0px !important;
}
.col-xs-9 {
	width: 100% !important;
}
.loginout {
	font-size: 16px !important;
}
.nav {
	width: 281px;
}