table{
	border: 1px solid black;
	border-collapse: collapse;
}
.center {
	display: flex;
}
.inline {
	display: inline-block;
}
.font20 {
	font-size: 20px;
	font-weight: bold;
}
.board-container {
	width: 1200px;
	height: 650px;
    position: relative;
    top: 100px;
    left: 200px;
}
.view-table {
	width: 1200px;
	text-align: center;
}
.view-title {
	font-size: 22px;
	font-weight: bold;
}
.text-none {
	text-align: start;
	height: 360px;
}
.line {
	position: absolute;
	top: 72px;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid darkgray;
}
.view-content-container {
	margin-top: 30px;
    margin-left: 30px;
}
.margin-right {
	margin-right: 30px;
	text-align: center;
}
.view-button-container {
	position: relative;
    bottom: 473px;
    left: 32px;
    text-align: end;
}
.view-button {
    font-size: 15px;
    border-radius: 4px;
    background-color: #1a73e8;
    border: 1px solid #1a73e8;
    color: white;
    padding: 5px 5px;
}
.comment > textarea{	
	width: 80%;
	margin-top: 6px;
}
.comment{
	width: 1100px;
}
.comment > input{
	position: relative;
	bottom: 45px;
	left: 55px;
}

.comment-container {
	height: 80px;
}
a,a:hover {
	text-decoration: none;
}	
.comment-textarea {
	width: 720px;
	outline: none;
	margin-left: 32px;
}
.submit {
	height: 81px;
    position: relative;
    top: -35px;
    left: -5px;
}
.view-comment-container {
	padding: 10px 0px;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	overflow: hidden;
}
.inline {
	display: inline-block;
}
.comment-control-div {
	float: right;
}
.comment-control-div > a {
	color: gray;
	font-size: 15px;
}
.id {
	font-weight: bold;
}
.comment {
	font-size: 15px;
	word-break: break-all;
}
.userInf{
	display: table;	
	position: absolute;
	height: 81px;
	width: 146px;
	left: 31px;
	bottom: 145px;
}
.userInf p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
