body {
    background-color: #eeeeee;
}
body,p {
    margin: 0px;
}
.login {
    margin-left: 790px;
    margin-top: 200px;
}
.signup {
    margin-bottom: 30px;
}
.login p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4px;
}
.login input {
    width: 300px;
    height: 30px;
}
.login input:last-child {
    height: 40px;
}